@page "/resetPasswordEmailRedirect"
@rendermode InteractiveServer

<PageTitle>Reset Password</PageTitle>
<h1>@header</h1>
<Alert Type="@NotificationTypes.Warning"
       NotificationStyle="@NotificationStyles.Normal"
       ShowCloseButton="@true"
       AutoClose="@false"
       @bind-IsVisible="@alertShown">
    <Content>
        @((MarkupString)errorText)
    </Content>
</Alert>


<style>
    .sr-only {
        display: none;
    }

    .close {
        border-radius: 10px;
    }

    .balert-text {
        color: red;
    }
</style>

@code {

    

}
