@page "/ResetPassword"
@rendermode InteractiveServer

<PageTitle>Reset Password</PageTitle>

<h3>Reset Password</h3>

<form @onsubmit="@reset" style="display: @(_finished ? "none" : "block")">
	<label for="userIdInput">Username: </label><br/>
	<input disabled="@_disabled" @bind-value="_username" class="form-control" id="userIdInput" name="userIdInput" type="text">
	<div>
		<span class="errorSpan">@_usernameError</span>
	</div>
	
	<label for="newPasswordInput">New Password</label><br/>
	<input disabled="@_disabled" @bind-value="_newPassword" class="form-control" id="newPasswordInput" name="newPasswordInput" type="@(_showPassword ? "text" : "password")">
	<input class="showPassword" type="button"
	       style="background: url('Images/@(_showPassword ? "eye-icon.svg" : "eye-blind-icon.svg")') no-repeat; background-size: 20px;"
	       @onclick="@(() => _showPassword = !_showPassword)"></input><br/>
	
	<input disabled="@_disabled" class="btn-cactus primary" type="submit" value="Reset">
	<span class="errorSpan">@(_errorString != "" ? $" - {_errorString}" : "")</span>
</form>

<p style="display: @(_finished ? "block" : "none")">@((MarkupString)(_noEmail ? "An email address is needed to reset your password. Your account doesn't have an email address associated with it. To reset your password please <a href='https://schlafhase.uk/#contact'>contact me</a>." : 
	                                                      "A link has been sent to your email address to confirm your identity. You can close this tab now."))</p>

<style>
	form {
		width: min(100%, 700px);
		background-color: #13011c;
		border-radius: 15px;
		padding: 20px;
		box-shadow: 0px 0px 15px magenta;
	}
</style>